### General ###
*.lock
.idea/*

### Jekyll ###
_site/

### Sass ###
.sass-cache

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

### Mac ###
.DS_Store

# bundle and vendor folders
.bundle/config
vendor/
node_modules/
