{% macro post(page, mini=false) %}
<article class="blog_item">
    {% if not mini %}
    <div class="blog_item_img">
        <a href="{{page.permalink}}">
        <img class="card-img rounded-0" src="{{page.extra.image | default(value=config.extra.random_image_blog_list) | safe}}" alt="">
        </a>
        {% if page.extra.image %}
                <meta itemprop="image" content="{{page.extra.image}}">
        {% else %}
            {% if config.extra.og_image %}
                <meta itemprop="image" content="{{config.extra.og_image}}">
            {% endif %}
        {% endif %}
        <a href="{{page.permalink}}" class="blog_item_date">
            <h3>{{ page.date | date(format="%d/%m") }}</h3>
            <p>{{ page.date | date(format="%Y") }}</p>
        </a>
    </div>
    {% endif %}

    <div class="blog_details">
        <a class="d-inline-block" href="{{page.permalink}}">
            <h2>{{page.title}}</h2>
        </a>
        <p>{{page.description}}</p>
        <ul class="blog-info-link">
            {% if page.taxonomies.categories %}<li><span class="category">{{page.taxonomies.categories[0]}}</span></li>{% endif %}
            <li><i class="fa fa-clock-o"></i> {{ page.reading_time }} {{ config.extra.label_minutes }}</li>
        </ul>
    </div>
</article>
{% endmacro post %}

{% macro post_nav(ref, extra) %}
{% if ref.number_pagers > 1 %}
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        {% if ref.previous %}
        <li class="page-item">
            <a href="{{ ref.previous }}" class="page-link" aria-label="Previous">
                <i class="ti-angle-left"></i>
            </a>
        </li>
        {% endif %}
        
        <li class="page-item active">
            <a href="#" class="page-link">{{ ref.current_index }}</a>
        </li>

        {% if ref.next %}
        <li class="page-item">
            <a href="{{ ref.next }}" class="page-link" aria-label="Next">
                <i class="ti-angle-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endmacro post_nav%}
